@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: auto;
    background-color: #F3F7FA;
    background-size: auto;
    position: relative;
    width: 960px;
    height: 1350px;
} 

.logo-row {
    width: 60px;
    margin: 0 auto;
}

.logo {
    position: absolute;
    height: 60px;
    left: 46.88%;
    right: 46.88%;
    top: 3.7%;
    bottom: 91.85%;
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    margin: 15px;
    display: flex;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    justify-content:center;
    color: #4A4A4A;
}

h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #4A4A4A;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #A0B0B9;
}

.filter {
    background-color: #FFFFFF;
    position: absolute;
    width: 232px;
    height: 252px;
    left: 10.73%;
    right: 65.1%;
    top: 11.85%;
    bottom: 69.48%;
    border: 1px;
    border-color: #DFE5EC;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
    background-color: #FFFFFF;
    position: absolute;
    width: 502px;
    height: 50px;
    left: 355px;
    top: 160px;
    border: 1px;
    border-color: #DFE5EC;
}

.tabs button:nth-last-of-type(1) {
    position: absolute;
    width: 251px;
    height: 50px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #DFE5EC;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.tabs button:nth-last-of-type(2) {
    position: absolute;
    width: 251px;
    height: 50px;
    left: 251px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #DFE5EC;
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.ticket {
    background-color: #FFFFFF;
    position: relative;
    margin-bottom: 20px;
    width: 502px;
    height: 184px;
    left: 355px;
    top: 230px;
    border: 1px;
    border-color: #DFE5EC;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.ticket:hover {
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ticket-header {
    position: absolute;
    width: 462px;
    height: 36px;
    left: 20px;
}

.ticket-header div:nth-last-of-type(2) {
    position: absolute;
    width: 147px;
    height: 24px;
    top: 20px;
    right: 315px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    text-align: center;
    color: #2196F3;
}

.ticket-header div:nth-last-of-type(1) img {
    position: absolute;
    right: 0;
    top: 20px;
} 
/*route-lenght-stops*/
.ticket-rls {
    position: absolute;
    width: 462px;
    height: 39px;
    top: 89px;
}

/*route airports*/
.ticket-rls div:nth-last-of-type(6) {
    position: absolute;
    width: 141px;
    height: 18px;
    top: -30px;
    left: 20px;
}

/*route-time*/
.ticket-rls div:nth-last-of-type(5) {
    position: absolute;
    width: 141px;
    height: 21px;
    top: -10px;
    left: 20px;
}

/*lenght*/
.ticket-rls div:nth-last-of-type(4) {
    position: absolute;
    width: 141px;
    height: 18px;
    top: -30px;
    left: 181px;

}

/*lenght time*/
.ticket-rls div:nth-last-of-type(3) {
    position: absolute;
    width: 141px;
    height: 21px;
    left: 181px;
    top: -10px;
}

/*stops*/
.ticket-rls div:nth-last-of-type(2) {
    position: absolute;
    width: 140px;
    height: 18px;
    top: -30px;
    left: 342px;
}

/*number of stops*/
.ticket-rls div:nth-last-of-type(1) {
    position: absolute;
    width: 140px;
    height: 21px;
    top: -10px;
    left: 342px;
}

/*from to*/
.ticket-ft {
    position: absolute;
    width: 250px;
    height: 21px;
    top: 120px;
    left: 20px;
}